.menu-item-content{
    margin: 0px;
    white-space: nowrap;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu-item-content label > input{
    margin-right: 5px;
}

.master-menu-list{
    width: 220px;
}

.master-dialog{
    display: flex;
    flex-direction: column;
}

.master-dialog .master-dialog-header{
    width: 100% !important;
    height:32px !important;
    min-height:32px;
    box-sizing: border-box;
}

.master-dialog .master-dialog-layout{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100% !important;
    height: 100% !important;
}
.master-dialog .master-dialog-content{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.master-dialog .master-dialog-buttons{
    margin-top: 5px;
    min-height:40px;
    height:40px;
}

.jqx-validator-error-label{
    margin-top: 2px;
}

.master-tree-icon, .master-dialog-icon{
    display: inline-block;
    margin-right: 3px;
    width: 16px;
    line-height: 16px;
    text-align: center;
}

.master-widget{
    position: relative;
    border-radius: 2px;
    border: 1px solid #E0E0E0;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.master-widget > .jqx-widget{
    border: none;
    border-radius: inherit;
}

.master-widget-loader{
    background-color: rgba(255, 255, 255, .7);
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
}

.master-widget-loader .loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.jqx-content-material-purple .loader{
    border-color: #6200EE transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


.master-model-list{
    display: flex;
    flex-direction: column;
 }


.master-toolbar{
    display: flex;
    flex-direction: row;
}

.master-toolbar .tool{
    float: inherit;
}

.master-toolbar .tool input[type='text']{
    margin: 0px;
}

.master-toolbar input.jqx-toolbar-tool{
    margin-bottom: 0px !important;
}


.master-paginator {
    min-height: 40px;
    height: 40px;
    border: none;
    display: flex;
}

.master-paginator .total-pages{
    width: min-content;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 7px;
    height: 100%;
    box-sizing: border-box;
}

.master-jqx-widget.jqx-listbox{
    min-width: 250px;
}

.dropdown-input{
    padding: 15px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.master-form{
    overflow-y: auto;
}

.master-form > .jqx-widget table{
    border: none !important;
    border-radius: 0px;
}

.master-list{
    display: flex;
    flex-direction: column;
}