{% extends 'main\base.html' %}
{% load static %}

{% block title %}Структура организации{% endblock %}
{% block header_1 %}Структура организации{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/masterwidgets/base.css' %}">
{% endblock %}

{% block extra_js %}
<!-- jqWidgets scripts-->
<script src="{% static 'js/jqx/jqxbuttons.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxpanel.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxdropdownlist.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxmenu.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxlistbox.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxcheckbox.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxtextarea.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxscrollbar.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxdragdrop.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxtree.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxwindow.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxtoolbar.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxinput.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxcalendar.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxdatetimeinput.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxvalidator.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jqx/jqxform.js' %}" type="text/javascript"></script>

<script src="{% static 'js/masterwidgets/model.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masterwidgets/base.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masterwidgets/menu.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masterwidgets/dialog.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masterwidgets/formfields.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masterwidgets/form.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masterwidgets/toolbar.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masterwidgets/tree.js' %}" type="text/javascript"></script>

<script src="{% static 'js/org/main.js' %}" type="text/javascript"></script>



{% endblock %}

{% block content %}
<div id="org-structure"></div>
{% endblock %}